* {
    box-sizing: border-box;
  }
  
  h1 {
    font-family: 'Russo One', sans-serif;
  }
  
  .results, li {
    font-family: 'Source Code Pro', monospace;
  }

img {
  max-height: 200px;
}
